body{
    background-color: skyblue;
    
}

#player1_name , #player_2_name{
    display: inline-block;
    margin-left: 20px;
}

.login_div1  {   
    padding: 10px;
    float: none;
    border-radius: 15px;
}
.login_div2{
    padding: 10px;
    float: none;
    border-radius: 15px;
}